@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/base/animation';

.menu-button {
    display: block;
    width: 20rem;
    font-size: 1rem;
    line-height: 1.8;
    text-align: center;
    color: $color-white;
    transition: all ease-out 0.5s;

    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
    }

    &:hover,
    &:active {
        color: $color-primary;
        background-color: $color-accent;
        transform: scale(1.1);

        &::before {
            display: inline-block;
            animation: rotateX 1s infinite;
            content: '> ';
            font-weight: bold;
        }

        &::after {
            content: '!';
            font-weight: bold;
        }
    }

    @include respond(mobile-medium) {
        width: 100%;
        transition: all ease-out 0.5s;
        &:hover,
        &:active {
            transform: scale(1);
        }
    }

    &--selected {
        color: $color-primary;
        background-color: $color-accent;
        transform: scale(1.1);

        &::before {
            display: inline-block;
            animation: rotateX 1s infinite;
            content: '> ';
            font-weight: bold;
        }

        &::after {
            content: '!';
            font-weight: bold;
        }

        @include respond(mobile-medium) {
            width: 100%;
            transition: all ease-out 0.5s;
            &:hover,
            &:active {
                transform: scale(1);
            }
        }
    }
}

.close-button {
    display: block;
    width: 8rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.8;
    color: $color-white;
    transition: all ease-out 0.5s;

    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
    }

    &:hover,
    &:active {
        color: $color-primary;
        background-color: $color-accent;
        transform: scale(1.1);
    }

    @include respond(mobile-medium) {
        width: 100%;
        transition: all ease-out 0.5s;
        &:hover,
        &:active {
            transform: scale(1);
        }
    }
}

.main-controller-button {
    display: block;
    width: 5rem;
    font-size: 2rem;
    text-align: center;
    color: $color-white;
    transition: all ease-out 0.5s;

    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
    }

    &:hover,
    &:active {
        color: $color-primary;
        transform: scale(1.2);
    }

    @include respond(mobile-largest) {
        transition: all ease-out 0.1s;
    }
}

.sub-controller-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 4rem;
    transition: all ease-out 0.5s;

    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
    }

    &:active {
        font-size: 6rem;
        color: $color-white;
    }

    @include respond(mobile-largest) {
        transition: all ease-out 0.1s;
    }
}
