.btn {
    display: block;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.btn:link,
.btn:visited {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 220%;
    transition: all 0.5s;
}

.btn:hover,
.btn:active {
    background-position: 100%;
    color: #448aff;
    transform: scale(1.2);
}

.btn-full {
    width: 20rem;
}

.btn-icon {
    width: 5rem;
    font-size: 2rem;
}
