@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as *;
@use '../../../../styles/base/animation';

.sub-controller {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    animation: color-animation 20s infinite;

    &__column {
        width: 33.3%;
        height: inherit;
        &--activated {
            color: $color-white-transparent-1;
            background-color: $color-white-transparent-2;
            border: 1px solid $color-white-transparent-2;
            transition: all 0.3s;
        }
        &--deactivated {
            color: $color-white-transparent-3;
            background-color: $color-white-transparent-3;
            border: 1px solid $color-white-transparent-3;
            transition: all 3s;

            @include respond(mobile-largest) {
                transition: all 0.4s;
            }
        }
    }
}
