{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 110,
    "arrowParens": "always",
    "singleQuote": true,
    "jsxSingleQuote": true,
    "semi": true,
    "trailingComma": "es5",
    "jsxBracketSameLine": true
}
