$color-primary: #448aff;
$color-accent: rgb(230, 230, 0);

$color-gray: rgb(100, 100, 100);

$color-white: rgb(255, 255, 255);
$color-white-transparent-1: rgba(255, 255, 255, 0.8);
$color-white-transparent-2: rgba(255, 255, 255, 0.15);
$color-white-transparent-3: rgba(255, 255, 255, 0);

$color-black: rgb(0, 0, 0);
$color-black-transparent-1: rgba(0, 0, 0, 0.8);

$bp-desktop-4k: 240rem;
$bp-desktop-fhd: 120rem;
$bp-desktop-hd: 80rem;
$bp-mobile-largest: 64rem;
$bp-mobile-large: 48rem;
$bp-mobile-medium: 34rem;
$bp-mobile-small: 24rem;
$bp-mobile-smallest: 20rem;
