@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as *;

.navigation {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

    &__link {
        display: inline-block;
        margin: 0 1rem;
        font-size: 1.25rem;
        line-height: 1.3;
        color: $color-white;
        text-decoration: none;
        transition: all 0.5s;
        @include respond(mobile-medium) {
            font-size: 0.75rem;
        }
    }

    a:hover,
    a:active {
        color: $color-primary;
        transform: scale(1.1);
    }
}
