@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as *;

.configurator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__panel {
        width: 40%;
        position: absolute;
        z-index: 20;
        bottom: 20%;
        margin: 0 auto;

        background-color: $color-black-transparent-1;
        border: 1rem solid $color-gray;
        box-shadow: 1rem 1rem 0rem $color-black;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include respond(mobile-largest) {
            width: 60%;
        }

        @include respond(mobile-medium) {
            width: 100vw;
            height: 100vh;
            top: 0%;
            padding-top: 6rem;
            background-color: $color-black;
            border: none;
            box-shadow: none;
        }
    }
}

.menu__option {
    display: block;
    width: 20rem;
    font-size: 1rem;
    line-height: 1.8;
    text-align: center;
    color: $color-white;
    transition: all ease-out 0.5s;
    cursor: pointer;

    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
    }

    &:hover,
    &:active {
        color: $color-primary;
        background-color: $color-accent;
        transform: scale(1.1);

        &::before {
            display: inline-block;
            animation: rotateX 1s infinite;
            content: '> ';
            font-weight: bold;
        }

        &::after {
            content: '!';
            font-weight: bold;
        }
    }

    @include respond(mobile-medium) {
        width: 100%;
        transition: all ease-out 0.5s;
        &:hover,
        &:active {
            transform: scale(1);
        }
    }
}

.menu__input {
    display: none;

    &:checked + .menu__option {
        color: $color-primary;
        background-color: $color-accent;
        transform: scale(1.1);

        &::before {
            display: inline-block;
            animation: rotateX 1s infinite;
            content: '> ';
            font-weight: bold;
        }

        &::after {
            content: '!';
            font-weight: bold;
        }

        @include respond(mobile-medium) {
            width: 100%;
            transition: all ease-out 0.5s;
            transform: scale(1);
        }
    }
}
