@use '../../../styles/abstracts/variables' as *;

.slider {
    width: 100%;
    height: 30px;
    margin-top: 1rem;
    margin-bottom: 2rem;

    &__label {
        display: inline-block;
        p {
            font-size: 1rem;
        }
    }

    &__input {
        display: block;
        appearance: none;
        width: 15rem;
        height: 0.5rem;
        margin: 10px auto;
        outline: none;
        background-color: white;

        &::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            width: 2rem;
            height: 1rem;
            margin-top: 5px;
            margin-bottom: 5px;
            background: $color-primary;
            cursor: grab;
        }

        &::-moz-range-thumb {
            width: 40px;
            height: 0.75rem;
            margin-top: 5px;
            margin-bottom: 5px;
            background: $color-primary;
            cursor: grab;
        }
    }
}
